body {
    box-sizing: border-box;
}

.win-overlay,
.lose-overlay {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, .6);
cursor: pointer;
}

.win-overlay {
    display: none;
}

.lose-overlay {
    display: none;
}

#grid {
display: grid;
grid-template-columns: repeat(6, auto);
grid-gap: 2px;
justify-content: center;
perspective: 1000px;
}


.card {
  height: 125px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
 /* backface-visibility: hidden; */
  border-radius: 5px;
  border: 2px solid lime; 
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .4s ease-in-out;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    width: 125px;
    height: 125px;
   /* backface-visibility: hidden; */
}
.card-front {
    transform: rotateY(180deg);
} 
